.detaljer {
  margin: 0.75rem auto;
  min-width: 1280px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.detaljer__top {
  margin-left: 9rem;
  margin-right: 9rem;
  min-width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.detaljer__alerts {
  margin-left: 9rem;
  margin-right: 9rem;
  min-width: 1024px;
  max-width: 1440px;
  padding-bottom: 0.75rem;
}

.detaljer__label {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  border-radius: 0.5rem;
  padding: 1.25rem;
  background-color: white;
}
