.detaljer-tabell__input--ugyldigfom {
  width: 8rem;
}

.detaljer-tabell__button-row {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 3rem;
  padding-right: 1rem;
}

.detaljer-tabell__toggle {
  width: 8rem;
}
