.input--ugyldigfom {
  width: 8rem;
}

.button-row {
  display: flex;
  flex-direction: row-reverse;
  min-width: 1400px;
  align-items: center;
  gap: 3rem;
  padding-right: 1rem;
}

.toggle {
  width: 8rem;
}
