.detaljer {
  margin: 0.75rem auto;
  min-width: 1280px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.detaljer-top {
  margin-left: 9rem;
  margin-right: 9rem;
  min-width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.detaljer-alerts {
  margin-left: 9rem;
  margin-right: 9rem;
  min-width: 1024px;
  max-width: 1440px;
  padding-bottom: 0.75rem;
}

.detaljer-label {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  border-radius: 0.5rem;
  background-color: white;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
  padding-top: 1.25rem;
}

.detaljer-columns {
  display: flex;
  width: 91.67%;
  flex-direction: row;
  justify-content: space-between;
  gap: 4rem;
}

.detaljer-column {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
