.input--ugyldigfom {
  width: 8rem;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-width: var(--table-min-width);
  align-items: center;
  gap: 3rem;
  margin-right: 2rem;
}

.button-row__left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button-row__center {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.button-row__right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.toggle {
  width: 8rem;
}
