version: 2
registries:
  npm-github:
    type: npm-registry
    url: https://npm.pkg.github.com
    token: ${{ secrets.READER_TOKEN }}
updates:
  - package-ecosystem: "npm"
    directory: "/"
    registries: "*"
    schedule:
      interval: "daily"
    groups:
      all-minor-updates:
        update-types:
          - "minor"
          - "patch"
    cooldown:
      default-days: 7

  - package-ecosystem: "npm"
    directory: "/server"
    schedule:
      interval: "daily"
    groups:
      all-minor-updates:
        update-types:
          - "minor"
          - "patch"
    cooldown:
      default-days: 7
