.treffliste {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin: 0.75rem auto;
  min-width: 1280px;
  max-width: 1440px;
}

.treffliste-top {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-left: 9rem;
  margin-right: 9rem;
  min-width: 1024px;
}

.treffliste-top-info {
  background-color: var(--a-surface-alt-1-subtle);
  padding: 0.5rem 1.25rem;
}

.treffliste-trefftabell {
  margin-left: auto;
  margin-right: auto;
  min-width: 1200px;
  max-width: 1600px;
  border-radius: 0.5rem;
  background-color: white;
}

.treffliste-error {
  padding-top: 1.25rem;
}

.sokekriterier {
  display: flex;
  min-width: 1024px;
  flex-direction: column;
  border-radius: 0.75rem;
  background-color: white;
  padding: 1.25rem;
}

.sokekriterier-content {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  padding-top: 1.25rem;
}
