.treffliste {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin: 0.75rem auto;
  min-width: 1280px;
  max-width: 1440px;
}

.treffliste__top {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-left: 9rem;
  margin-right: 9rem;
  min-width: 1024px;
}

.sokekriterier {
  display: flex;
  min-width: 1024px;
  flex-direction: column;
  border-radius: 0.75rem;
  background-color: white;
  padding: 1.25rem;
}

.sokekriterier__content {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  padding-top: 1.25rem;
}
