.pageheading {
  text-align: center;
}

.contentloader {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
}

.labeltext-label {
  white-space: nowrap;
  font-weight: bold;
}

.labeltext {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  white-space: nowrap;
}

.link {
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
}

.aksel-danger {
  color: var(--a-nav-red);
}

.nowrap {
  white-space: nowrap;
}

.sortable-table-topinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sortable-table {
  min-width: 1400px;
  background-color: var(--a-surface-default);
}

.sortable-table-pagination {
  display: flex;
  flex-direction: row;
  place-content: center;
}
