:root {
  --page-min-width: 1440px;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin: 0.75rem auto;
  min-width: var(--page-min-width);
  max-width: 1600px;
}

.page__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.page__top-sokekriterier {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 0.75rem;
  background-color: white;
  padding: 1.25rem;
  box-sizing: border-box;
}

.page__top-sokekriterier__content {
  display: flex;
  flex-flow: row wrap;
  gap: 2.5rem;
  padding-top: 1.25rem;
}

.link {
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
}

.status--danger {
  color: var(--a-nav-red);
}

.u-nowrap {
  white-space: nowrap;
}

.table {
  border-radius: 0.5rem;
  background-color: var(--a-white);
}

.table__top-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table__pagination {
  display: flex;
  flex-direction: row;
  place-content: center;
}
