.attestasjonsok {
  padding: 1rem;
  position: relative;
  max-width: 1440px;
  min-width: 1280px;
  border-radius: 0.5rem;
  margin: auto;
  background-color: var(--a-surface-alt-1-subtle);
}

.attestasjonsok-form {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.attestasjonsok-helptext {
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
}

.attestasjonsok-inputfields {
  display: flex;
  width: fit-content;
  flex-direction: column;
  gap: 0.75rem;
}

.attestasjonsok-gjelder {
  position: relative;
  width: 9rem;
}

.attestasjonsok-fagsystem {
  width: 14rem;
}

.attestasjonsok-radiobutton {
  display: flex;
  flex-direction: column;
}

.attestasjonsok-divider {
  min-width: 0.125rem;
  background-color: var(--a-border-default);
}

.attestasjonsok-error {
  padding-top: 1.25rem;
}

.attestasjonsok-error-summary {
  max-width: 32rem;
  padding-top: 0.5rem;
}

.attestasjonsok-button {
  display: flex;
  flex-direction: row-reverse;
  gap: 1.5rem;
  padding-top: 1.25rem;
}

.attestasjonsok-combobox {
  min-width: 41.25rem;
}

.attestasjonsok-error-message-nowrap {
  position: absolute;
  left: 0.5rem;
  margin-left: 0.75rem;
  white-space: nowrap;
}
